:host(tool-components) {
  border: 1px solid #7d7c78;
  padding: 0 0 0 10px;
  box-shadow: 5px 3px 5px #7d7c78;
}

.viewport {
  height: 100%;
  width: 100%;
}

.viewport-item {
  height: 35px;
}

hr {
  border: 1px solid #7d7c78;
}
