/* You can add global styles to this file, and also import other style files */
html, body {
  height: 99%;
  width: 99%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}
