.grid-container {
  display: grid;
  width: 100%;
  height: 100%;
  user-select: none;
}
.line-row {
  height: 1px;
  align-self: end;
  border-bottom: 1px dashed gray;
  pointer-events: none;
  z-index: 0;
}

.line-column {
  width: 1px;
  justify-self: end;
  border-right: 1px dashed gray;
  pointer-events: none;
  z-index: 0;
}

.element-select {
  border: 2px solid#d65d0e;
}
