<div
  [style.grid-template-columns]="_columns | size"
  [style.grid-template-rows]="_rows| size"
  [style.cursor]="settings.mode == RendererMode.create  ? 'cell' : '' "
  (mousedown)="settings.mode == RendererMode.create ? handler.onElementCreate($event, rect) : ''"
  #gird_container
  class="grid-container">

  <ng-container *ngIf="this.settings.lines">
    <div class="line-row"
      *ngFor="let r of _rows; let y = index"
      [style.grid-area]="{ cellX: 0, cellY: y, width: columns, height: 1 } | gridArea">
    </div>

    <div class="line-column"
      *ngFor="let c of _columns; let i = index; let x = index"
      [style.grid-area]="{ cellX: x, cellY: 0, width: 1, height: rows } | gridArea">
    </div>
  </ng-container>

  <ng-content></ng-content>
</div>
