<div>
  <h4>Properties</h4>
  <hr>
  <div *ngIf="selected == undefined">
    <label for="position">Default position:</label>
    <select id="position" [(ngModel)]="settings.spawnPosition">
      <option *ngFor="let position of spawnPositions | htmlTags" [value]="position">
        {{position}}
      </option>
    </select>
  </div>
  <div *ngIf="selected != undefined">
    <label for="content">Content:</label>
    <input id="content" [(ngModel)]="selected.content"
      (keyup)="onUpdateCompContent()">
  </div>
</div>
