.inspector-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    margin-top: 10px;
    font-size: 1rem;
}

.inspector-item > :first-child {
  flex: 1;
  min-width: calc(10% + 70px);
}

.inspector-item > :last-child {
  min-width: calc(10% + 150px);
}

.inspector-item > button {
  background: #ebdbb2;
}

.inspector-item-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.inspector-item-group > button {
  background: #ebdbb2;
}

.inspector-item input[type="number"] {
  width: 150px;
  padding: 5px;
  border: none;
  background: #ebdbb2;
}

.inspector-item input[type="text"] {
  width: 150px;
  padding: 5px;
  border: none;
  background: #ebdbb2;
}

.inspector-item input[type="color"] {
  padding: 0;
  width: 144px;
  min-height: 30px;
  border: 4px solid #ebdbb2;
  border-radius: 4px;
}

.inspector > item.input[type="checkbox"] {
  justify-content: flex-start;
}

.inspector-item-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.workspace-block {
  flex-direction: column;
  align-items: flex-start;
}

.workspace-group {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  align-self: center;
  width: 100%;
}

.workspace-group > button {
  margin-right: 10px;
  margin-top: 10px;
  background: #ebdbb2;
  width: 50%;
  height: 37px;
}

.inspector-item-icon:before {
  content: '';
  background: none;
  height: 20px;
  width: 20px;
  position: absolute;
  display: block;
  right: 10px;
  top: 8px;
}

.select-icon.inspector-item-icon:before{
  background: url('/assets/move-outline.svg') no-repeat;
}

.resize-icon.inspector-item-icon:before {
  background: url('/assets/crop-outline.svg') no-repeat;
  top: 9px;
}

.create-icon.inspector-item-icon:before {
  background: url('/assets/square-outline.svg') no-repeat;
}

.button-name {
  margin: 0;
  margin-right: 30px;
}

.box-resize-model {
  position: relative;
  height: 100px;
}

.box-resize-model .box-input-group {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 40px;
  left: 45%;
  transform: translateX(-50%);
}

.box-resize-model-image {
  height: 50px;
  width: 50px;
  right: 0;
  top: -15px;
  position: absolute;
  display: block;
  filter: invert(98%) sepia(12%)
          saturate(7498%) hue-rotate(297deg)
          brightness(128%) contrast(85%);
}

.box-direction-model-image {
  height: 30px;
  width: 30px;
  right: 10px;
  top: -5px;
  position: absolute;
  display: block;
  filter: invert(98%) sepia(12%)
          saturate(7498%) hue-rotate(297deg)
          brightness(128%) contrast(85%);
}

.box-input-group > * {
  position: absolute;
}

#element-top {
  top: -33px;
  right: 15px;
}

#element-left {
  right: 50px;
}

#element-bottom {
  top: 33px;
  right: 15px;
}

#element-right {
  right: -19px;
}

@media screen and (max-width: 1120px) {
  .workspace-group > button {
    margin-top: 10px;
    width: 60%;
  }
}

input:focus {
  outline: none;
}

.delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-left: 5px;
  padding: 0 15px;
  width: 20px !important;
  border: 0;
}

.delete-button.right {
  align-self: flex-end;
  min-width: 30px !important;
  height: 30px;
  background: #d65d0e !important;
}

.delete-button-icon {
  width: 18px;
  height: 21px;
}

.inspector-file {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 144px;
  min-height: 30px;
  background: #ebdbb2;
  border-radius: 4px;
  color: black;
  font-size: 15px;
}

.inspector-file > img {
  margin-left: 8px;
}


.inspector-file-btn {
  display: none;
}

mat-icon {
  font-size: 18px;
  height: 21px;
  width: 18px;
}
