<mat-accordion multi>
  <ng-container *ngIf="store.chosen$ | async">
    <properties title="Element">
      <form [formGroup]="elementGroup$">
        <div class="inspector-item" *ngIf="this.debug" style="user-select: text;">
          <input formControlName="id">
        </div>
        <div class="inspector-item">
          <label for="element-content">Content:</label>
          <input id="element-content" type="text"
            formControlName="content">
        </div>
        <div class="inspector-item">
          <label for="element-color">Text color:</label>
          <div class="inspector-item-group">
            <input id="element-color" type="color" formControlName="color">
            <button class="delete-button"
              (click)="onResetColor()">
              <mat-icon>closed</mat-icon>
            </button>
          </div>
        </div>
        <div class="inspector-item">
          <label for="element-background">Background:</label>
          <div class="inspector-item-group">
            <input id="element-background" type="color" formControlName="background">
            <button class="delete-button"
              (click)="onResetBackground()">
              <mat-icon>closed</mat-icon>
            </button>
          </div>
        </div>
        <div>
          <label>Image:</label>
          <div>
            <input type="file" accept="image/png,image/jpeg" id="imageUpload"
              (change)="onChangeImage()" #imageUpload>
            <button class="delete-button">
              <mat-icon>closed</mat-icon>
            </button>
          </div>
        </div>
        <div class="inspector-item box-resize-model">
          <label>Resize: </label>
          <div class="box-input-group">
            <input id="element-top" type="checkbox"
              formControlName="resizeTop">
            <input id="element-left" type="checkbox"
              formControlName="resizeLeft">
            <input id="element-right" type="checkbox"
              formControlName="resizeRight">
            <input id="element-bottom" type="checkbox"
              formControlName="resizeBottom">
            <img class="box-resize-model-image" src="assets/square-outline.svg">
            <img class="box-direction-model-image" src="assets/move-outline.svg">
          </div>
        </div>
        <div class="inspector-item">
          <label>Delete: </label>
          <button
            (click)="onDeleteElement()"
            class="delete-button right">
            <img class="delete-button-icon" src="assets/trash-outline.svg">
          </button>
        </div>
      </form>
    </properties>
  </ng-container>
  <properties title="Workspace" expanded="true">
    <div class="inspector-item workspace-block">
      <label>Mode:</label>
      <div class="workspace-group">
        <button mat-raised-button mode-button
          [target]="0"
          class="inspector-item-icon select-icon"
          [mode]="settingsPayload.mode"
          (click)="onModeSelect()">
          <h3 class="button-name">Select</h3>
        </button>
        <button mat-raised-button mode-button
          [target]="2"
          class="inspector-item-icon resize-icon"
          [mode]="settingsPayload.mode"
          (click)="onModeResize()">
          <h3 class="button-name">Resize</h3>
        </button>
        <button mat-raised-button mode-button
          [target]="1"
          class="inspector-item-icon create-icon"
          [mode]="settingsPayload.mode"
          (click)="onModeCreate()">
          <h3 class="button-name">Create</h3>
        </button>
      </div>
    </div>
  </properties>
  <properties title="Grid" expanded="true">
    <form [formGroup]="settingsGroup$">
      <div class="inspector-item">
        <label for="grid-lines">Lines</label>
        <input id="grid-lines" type="checkbox"
          formControlName="lines">
      </div>
      <div class="inspector-item">
        <label for="grid-corners">Corners:</label>
        <input id="grid-corners" type="checkbox"
          formControlName="corners">
      </div>
      <div class="inspector-item">
        <label for="grid-rows">Rows:</label>
        <input id="grid-rows" type="number"
          formControlName="rows">
      </div>
      <div class="inspector-item">
        <label for="grid-columns">Columns:</label>
        <input id="grid-columns" type="number"
          formControlName="columns">
      </div>
    </form>
  </properties>
</mat-accordion>
