.content {
  width: 100%;
  height: 100%;

  display: grid;

  grid-template-rows: 1fr 10fr 1fr;
  grid-template-columns: 1fr 3fr 1fr;

  grid-template-areas: "top top top"
                       "left center right"
                       "bottom bottom bottom";
}

.top {
  width:100%;
  height: 100%;
  grid-area: top;
  position: relative;
  border-bottom: 3px dashed #d1c4e9;
}

.left {
  width:100%;
  height: 100%;
  grid-area: left;
  position: relative;
  border-right: 3px dashed #d1c4e9;
}

.right {
  width:100%;
  height: 100%;
  grid-area: right;
  position: relative;
  border-left: 3px dashed #d1c4e9;
}

.center {
  width:100%;
  height: 100%;
  grid-area: center;
  position: relative;
}

.bottom {
  width:100%;
  height: 100%;
  grid-area: bottom;
  position: relative;
  border-top: 3px dashed #d1c4e9;
}
