:host {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
}

.toolbar-container {
  flex: 0;
  justify-content: space-between;
  min-height: 55px;
}

.toolbar-logo {
  padding: 5px;
  border-radius: 5px;
  font-size: 1.563rem;
}

.renderer-container {
  flex: 1;
}

.sidenav-container {
  width: 20%;
}

@media screen and (max-width: 1550px) {
  .sidenav-container {
    width: 25%;
  }
}

@media screen and (max-width: 1320px) {
  .sidenav-container {
    width: 35%;
  }
}
