<mat-toolbar class="toolbar-container bg1 fg">
  <h1 class="toolbar-logo bg2">Constructor</h1>
  <div class="mode-group-button">
    <button mat-icon-button mode-button
      [target]="0"
      (click)="onElementMove()"
      [mode]="(this.settings.settings$ | async)?.mode | default: 0">
      <img class="app-icon" src="assets/move-outline.svg">
    </button>

    <button mat-icon-button mode-button
      [target]="2"
      (click)="onElementResize()"
      [mode]="(this.settings.settings$ | async)?.mode | default: 2">
      <img class="app-icon" src="assets/crop-outline.svg">
    </button>

    <button mat-icon-button mode-button
      [target]="1"
      (click)="onElementCreate()"
      [mode]="(this.settings.settings$ | async)?.mode | default: 1">
      <img class="app-icon" src="assets/square-outline.svg">
    </button>

    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>{{sidenav.opened ? 'closed' : 'list'}}</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container
  class="renderer-container">
  <mat-sidenav
    #sidenav
    [mode]="(settings.settings$ | async)?.sideNavMode | default: 'over'"
    position="end"
    class="sidenav-container bg1">
    <app-inspector
      [debug]="env.debug"
      [element]="store.chosen$ | async">
    </app-inspector>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-renderer></app-renderer>
  </mat-sidenav-content>
</mat-sidenav-container>
