<mat-toolbar class="toolbar-container">
  <h1 id="app-logo">Constructor</h1>
  <div>
    <button mat-icon-button (click)="onElementCreate()">
      <mat-icon>border_outer</mat-icon>
    </button>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>{{sidenav.opened ? 'closed' : 'list'}}</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav
    opened
    mode="side"
    position="end"
    class="sidenav-container">
    <app-inspector
      [settings]="rendererService.settings"
      [element]="rendererService.currentElement"
      [debug]="env.debug">
    </app-inspector>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-renderer></app-renderer>
  </mat-sidenav-content>
</mat-sidenav-container>
