#app-logo {
  background:#ede7f6;
  padding: 5px;
  border-radius: 5px;
}

mat-toolbar {
  background: #d1c4e9;
  border-bottom: 1px solid #7d7c78;
  box-shadow: 1px 1px 5px #7d7c78;
}

mat-toolbar > * {
  color: #673ab7;
}

mat-sidenav-container {
  width: 100%;
  height: 93%;
}

.toolbar-container {
  justify-content: space-between;
}

.sidenav-container {
  width: 20%;
}

@media screen and (max-width: 1400px) {
  .sidenav-container {
    width: 25%;
  }
}
