
#app-container {
  height: 100%;

  display: grid;

  grid-template-rows: 1fr 20fr;
  grid-template-columns: 20fr 3fr;
  grid-template-areas: "top top"
                       "center center";
}

.app-toolbar {
  grid-area: top;
  justify-content: space-between;
  user-select: none;
}

.app-content {
  grid-area: center;
}

.app-renderer {
  grid-row: 2;
  grid-column: 1;
}


#app-toolbar {
  grid-row: 2;

  gap: 10px;
  display: grid;
  grid-template-rows: 1fr 30% 30%;

  height: 100%;
}
