<div id="app-container">
  <mat-toolbar class="app-toolbar" color="primary">
    <h1>Constructor</h1>
  </mat-toolbar>

  <div id="app-toolbar">
    <tool-hierarchy [elements]="elements"
      (onUpdate)="onSelectComponent()">
    </tool-hierarchy>
    <tool-components
      (onUpdate)="onComponentCreate($event)">
    </tool-components>
    <tool-properties [selected]="selectedElement"
      (onUpdatePosition)="onUpdatePosition()"
      (onSelectedComponentPost)="onSelectedComponentPost($event)">
    </tool-properties>
  </div>

  <div class="app-renderer" id="app-renderer">
    <app-renderer></app-renderer>
  </div>
</div>
