{:paths ["src", "resource"]
 :deps
 {org.clojure/clojure {:mvn/version "1.10.3"}

  mount/mount {:mvn/version "0.1.16"}

  ring/ring {:mvn/version "1.9.4"}
  compojure/compojure {:mvn/version "1.6.2"}

  hiccup/hiccup {:mvn/version "2.0.0-alpha2"}

  com.taoensso/carmine {:mvn/version "3.2.0-alpha1"}

  http-kit/http-kit {:mvn/version "2.5.3"}}}
