:host(tool-hierarchy) {
  border: 1px solid #7d7c78;
  box-shadow: 5px 3px 5px #7d7c78;
  padding: 0 0 0 10px;
  background: #d1c4e9;
}

#load-project {
  width: 95%;
  margin-right: 10%;
}

.viewport {
  height: 100%;
  width: 100%;
}

mat-tree {
  background: #d1c4e9;
}

.mat-tree-node {
  min-height: 35px;
}

hr {
  border: 1px solid #7d7c78;
  margin-right: 10px;
}

.tree-node-item {
  color: #673ab7;
  background: #ede7f6;
  border-radius: 5px;
  margin: 10px;
  justify-content: center;
}

.tree-node-item:hover {
  opacity: 0.9;
  user-select: none;
}

.tree-node-item:hover {
  background: #7e57c2;
  color: white;
}

.tree-node-item:active {
  border: 1px solid #ede7f6;
}

h4 {
  color: #673ab7;
}

button {
  color: #673ab7;
  background: #ede7f6;
  border-radius: 5px;
  border: 0;
  padding: 5px;
}

button:hover {
  transition: 0.5s;
  transition: 0.3s;
  transition-property: background;
  opacity: 0.9;
  background: #7e57c2;
  color: white;
}

button:active {
  border: 1px solid #ede7f6;
}
