
#app-container {
  height: 100%;

  display: grid;

  gap: 10px;

  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 1fr 20fr 1fr;
}

.app-renderer {
  grid-row: 2;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 black;
  margin: 0 0 0px 15px;
  grid-column: 2;
}


#app-toolbar {
  grid-row: 2;

  gap: 10px;
  display: grid;
  grid-template-rows: 1fr 30% 30%;

  height: 100%;
}
